@font-face {
  font-family: Manrope;
  src: url(../fonts/poppins/Poppins-Regular.ttf) format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: Manrope;
  src: url(../fonts/poppins/Poppins-Medium.ttf) format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: Manrope;
  src: url(../fonts/poppins/Poppins-SemiBold.ttf) format("opentype");
  font-weight: 600;
}
