<div class="slider-container">
  <div class="side-block"></div>
  <div class="card-block">
    <h1 class="title">Recent Testimonials From Global Members</h1>
    <swiper
      [slidesPerView]="slidesCount"
      [spaceBetween]="spaceBetween"
      [navigation]="true"
      [pagination]="paginationOption">
      <div class="swiper-wrapper">
        <ng-container >
          <ng-template swiperSlide *ngFor="let user of users"><app-profile-card [user]="user"></app-profile-card></ng-template>
        </ng-container>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </swiper>
  </div>
</div>

