@import "src/assets/scss/variables";

:root {
  --swiper-theme-color: #00AC45;
  --swiper-navigation-color: transparent;
}

@media(max-width:1920px){
  .slider-container {
    width: 100vw;
    display: flex;
    overflow: hidden;
    padding-right: 30px;
    background-color: $color3;
  }

  .side-block {
    min-width: 200px;
    min-height: 100%;
    background-color: $color-white;
  }

  .title {
    font-weight: 600;
    font-size: 34px;
    text-transform: capitalize;
    text-align: center;
  }

  .card-block {
    margin-bottom: 46px;
    padding: 10px 50px;
    width: 85%;
  }

  .swiper-container {
    width: 100%;
    height: auto;
    min-height: 320px;
    padding: 10px 13px;
    position: relative;
    margin-left: 0;
  }

  .swiper-button-prev, .swiper-button-next {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(125, 125, 146, 0.2);
    background: white;
    top: 40%;
    &:hover {
      box-shadow: 0px 2px 15px rgba(125, 125, 146, 0.4);
    }
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-next {
    right: 0;
  }

  .swiper-button-prev:after {
    width: 8px;
    height: 11px;
    background: url(~src/assets/icons/arrow-left.svg) no-repeat center;
  }

  .swiper-button-next:after {
    width: 8px;
    height: 11px;
    background: url(~src/assets/icons/arrow-right.svg) no-repeat center;
  }

  .swiper-pagination-bullet {
    background-color: $color4;
  }

  .swiper-pagination-bullet-active {
    background-color: $color2;
  }
}

@media(max-width:1280px) {
  .swiper-container {
    max-width: 1108px;
    height: 90%;
    min-height: auto;
  }
  .card-block {
    min-height: auto;
  }
  .title {
    font-size: 24px;
  }
}

@media(max-width:940px) {
  .slider-container {
    padding-right: 0;
    justify-content: center;
  }

  .side-block {
    display: none;
  }

  .card-block {
    width: 73%;
    padding: 0;
  }

  .swiper-pagination {
    bottom: 20px !important;
  }
}

@media(max-width:320px) {

  .swiper-container-horizontal > .swiper-pagination-progressbar {
    top: 98.5%;
  }

  .slider-container {
    padding: 0;
  }

  .swiper-container {
    min-width: auto;
    height: auto;
    padding-bottom: 20px;
  }

  .card-block {
    width: 90vw;
    min-height: auto;
  }
}
