<div class="container" [class.container-large]="textLarge">
  <div class="profile-info">
    <img [src]="user.profilePhoto" class="profile-photo" alt="profile photo">
    <div>
      <div class="profile-info-title">{{user.profileName}}</div>
      <div class="profile-info-text">{{user.profilePosition}}</div>
    </div>
  </div>
  <div class="profile-text" [class.profile-text-large]="textLarge">{{user.profileText}}</div>
  <span class="read-more-btn" (click)="onClick()">{{textLarge ? 'less' : 'read more'}}</span>
</div>
