@import "src/assets/scss/variables";

.container {
  padding: 20px;
  min-height: 236px;
  margin-bottom: 40px;
  border-radius: 5px;
  background-color: $color-white;
  box-shadow: 0px 2px 5px rgba(125, 125, 146, 0.2);
  &:hover {
    box-shadow: 0px 2px 15px rgba(125, 125, 146, 0.4);
  }
}

.container-large {
  min-height: auto;
}

.profile-info {
  display: flex;
  margin-bottom: 16px;
}

.profile-info-title {
  font-size: 16px;
  font-weight: 600;
  color: $color-black;
  text-transform: capitalize;
}

.profile-info-text {
  color: $color5;
  font-weight: 400;
  font-size: 13px;
  text-transform: capitalize;
}

.profile-text {
  font-size: 14px;
  font-weight: 400;
  color: $color6;
  margin-bottom: 12px;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  line-height: 1.3em;
}

.profile-text-large {
  overflow: unset;
  -webkit-line-clamp: 33;
}

.read-more-btn {
  color: $color2;
  font-weight: 500;
  font-size: 14px;
  text-transform: lowercase;
  border: none;
  outline: none;
  background: none;
  z-index: 1;
  &:hover {
    cursor: pointer;
    color: $color1;
  }
}

@media(max-width: 1280px) {
  .container {
    max-width: 500px;
    width: 100%;
  }
  .container-large {
    min-height: auto;
    box-shadow: 0px 2px 15px rgba(125, 125, 146, 0.4);
  }
}
@media(max-width:940px) {
  .container {
    max-width: 100%;
  }
}

@media(max-width: 320px) {
  .container-large {
    min-height: 302px;
  }
}
