@import '~swiper/swiper-bundle';
@import "src/assets/scss/fonts";
* {
  box-sizing: border-box;
}
body {
  font-family: Manrope;
  margin: 0px;
}

.profile-photo {
  width: 52px;
  height: 54px;
  border-radius: 8px;
  margin-right: 10px;
}
